<div class="info-modal" popover id="<%= @id %>">
  <div class="info-modal__inner">
    <% sections.each do |section| %>
      <div class="info-modal__section">
        <%= section %>
      </div>
    <% end %>
  </div>
</div>
